$primary-color: #6bcf9f;
$font-color: #5ebf90;
$secondary-color: white;
$leaderboard-entry-color: #c4a5a5;

$theme-colors: (
  "danger": $primary-color,
  "warning": $font-color,
);

@import "~bootstrap/scss/bootstrap";
