$primary-color: #6bcf9f;
$font-color: #6bcf9f;
$secondary-color: white;
$leaderboard-entry-color: #6bcf9f;

$theme-colors: (
  "danger": $primary-color,
  "warning": #dc3545,
);

@import "~bootstrap/scss/bootstrap";
