$primary-color: #ce9caa;
$font-color: #1769a4;
$secondary-color: white;
$tertiary-color: #6c757d;
$leaderboard-entry-color: #6bcf9f;

$theme-colors: (
  "danger": $primary-color,
  "warning": $font-color,
);

@import "~bootstrap/scss/bootstrap";
