//import bootstrap
@import "~bootstrap/scss/bootstrap";

//import variables
@import "./_variables.scss";

//import fonts
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

//set font color for common values
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $font-color;
}

//white color for login button font
#loginbutton {
  color: #f2eded;
}

#loginbutton:hover {
  color: #f2eded;
}
