//import bootstrap
@import "~bootstrap/scss/bootstrap";

//import variables
@import "./_variables.scss";

//import fonts
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  color: $font-color;
}

h5 {
  color: $font-color;
}

p {
  color: $font-color !important;
}

.loginbutton {
  font-size: 20px;
  padding: 5px;
  background-color: #30bf7a;
  color: #fcf6f5ff;
  border: none;
  border-radius: 10%;
  cursor: pointer;
}

.logoutbutton {
  font-size: 20px;
  padding: 5px;
  background-color: #db5e56;
  color: #fcf6f5ff;
  border: none;
  border-radius: 10%;
  cursor: pointer;
}

.booklist {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.pagination-box {
  display: flex;
  width: 100%;
  margin: 40px 0px 100px 0px;
  justify-content: center;
}

.pagination {
  display: flex;
  border-radius: 2%;
}

.hashrouter-link {
  color: $primary-color;
}

.hashrouter-link:hover {
  color: $primary-color;
  text-decoration: none;
}
