@import "../../_variables.scss";
$barrier: 800px;

//total div. stretches from top to bottom with special radial background color
.sample-total {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  background: radial-gradient($primary-color 15%, #e5f7e4);
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    text-align: center;
    color: white !important;
  }

  @media screen and (max-width: $barrier) {
    p {
      font-size: 40px;
    }
    .smaller {
      font-size: 30px;
    }
  }

  @media screen and (min-width: $barrier) {
    p {
      font-size: 50px;
    }
    .smaller {
      font-size: 45px;
    }
  }
}

//centers counts and button,
.counts {
  margin: auto 0px;
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
