@import "../../_variables.scss";

.profile {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.color {
  color: $primary-color;
  font-weight: bold;
}

.profile-top {
  margin: 0 auto;
  display: flex;
}

.profile-main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}

.book {
  display: flex;

  #book-image {
    margin: 0 auto;
    width: 125px;
  }

  .left-side {
    display: flex;
    flex-direction: column;
  }

  .right-side {
    display: flex;
    flex-direction: column;
  }

  #added {
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
    color: $primary-color;
  }

  h3 {
    text-align: center;
  }

  h4 {
    text-align: center;
    color: $primary-color;
  }
}

.profile-pic {
  border-radius: 50%;
}

.profile-info {
  margin-left: 15px;
}

.color-picker {
  display: flex;
  justify-content: center;
  width: 100%;
}
.color-square {
  width: 20px;
  height: 20px;
  background-color: red;
  border: 2px solid black;
  border-radius: 15%;
  margin: 10px 3px;
}

.profile-piece {
  line-height: 0.9;
  text-align: center;
}

.clubsfriends {
  width: 150px;
  margin: 25px auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  line-height: 0.4;
}

.validation-text {
  color: $primary-color;
  font-weight: bold;
  font-size: 25px;
  text-decoration: underline;
}

.validation-text-2 {
  line-height: 0.9;
}

p {
  color: black;
}

#goal-progress {
  margin: 0px auto 40px auto;
  width: 80%;
}

#goal-progress-user {
  margin: 0px auto 40px auto;
  width: 60%;
}

h3 {
  text-align: center;
}

.progress-box {
  margin: 0 auto;
  display: flex;
}

#edit-button {
  margin-left: 20px;
  margin-bottom: 10px;
}

#goal-enter {
  width: 50px;
  height: 30px;
  margin-left: 10px;
  margin-top: 3px;
}

.goal {
  margin-left: 10px;
}

.shelf-dropdown {
  margin: 30px auto 0px auto;
}

h2 {
  text-align: center;
}

.divider {
  background-color: #e9ecef;
  height: 10px;
  width: 80%;
  margin: 0px auto 15px auto;
}

.user-goals {
  .progress-box {
    h3 {
      text-align: center;
    }
  }
}
