@import "../../_variables.scss";

$barrier: 800px;

.profile {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.color {
  text-align: left !important;
}

.profile-top {
  width: 90%;
  margin: 0px auto;
  display: flex;

  justify-content: left;

  @media screen and (max-width: $barrier) {
    flex-wrap: wrap;
  }
}

.profile-rest-small {
  @media screen and (min-width: $barrier) {
    display: none;
  }
  min-width: 470px;
  width: 90%;
  margin: 0 auto;
  max-height: 350px;
  overflow: none;
  display: flex;
  flex-direction: column;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  line-height: 0.3;
  border-bottom: 1px solid grey;
  @media screen and (max-width: $barrier) {
    font-size: 18px;
  }
}

.profile-main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
}

.name {
  font-size: 60px;
}

.book {
  display: flex;

  #book-image {
    margin: 0 auto;
    width: 125px;
  }

  .left-side {
    display: flex;
    flex-direction: column;
  }

  .right-side {
    display: flex;
    flex-direction: column;
  }

  .underlined {
    text-decoration: underline !important;
  }

  #added {
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
    color: $primary-color;
  }

  h3 {
    text-align: center;
  }

  h4 {
    text-align: center;
    color: $primary-color;
  }
}

.picture-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  margin-bottom: 10px;
  height: 115px;
  border-radius: 50%;
}

.profile-info {
  margin-top: 15px;
  margin-left: 25px;
}

.profile-rest {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2500px;
  margin-left: 15px;
  @media screen and (max-width: $barrier) {
    display: none;
  }
}

.color-picker {
  display: flex;
  justify-content: center;
  width: 100%;
}
.color-square {
  width: 20px;
  height: 20px;
  background-color: red;
  border: 2px solid black;
  border-radius: 15%;
  margin: 10px 3px;
}

.user-desc {
  font-size: 20px;
  margin-left: 5px !important;
}

.nav-list {
  width: 90%;
  margin: 20px auto;
  color: $primary-color;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;

  @media screen and (max-width: $barrier) {
    width: 100%;
    font-size: 20px;
  }
}

.nav-item {
  cursor: pointer;
}

.profile-piece {
  line-height: 0.8;
}

.clubsfriends {
  width: 150px;
  margin: 20px auto 0px auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  line-height: 0.4;
}

.validation-text {
  color: $primary-color;
  font-weight: bold;
  font-size: 25px;
  text-decoration: underline;
}

.validation-text-2 {
  line-height: 1.4;
}

.validation-text-3 {
  line-height: 0.9;
}

p {
  color: black;
}

#goal-progress {
  margin: 0px auto 10px auto;
  width: 90%;
}

#goal-progress-small {
  margin: 15px auto 10px auto;
  width: 90%;
}

#goal-progress-user {
  margin: 0px auto 40px auto;
  width: 60%;
}

h3 {
  text-align: center;
}

.progress-box {
  margin: 0px auto;
  display: flex;
}

#edit-button {
  margin-left: 20px;
  margin-bottom: 10px;
}

#goal-enter {
  width: 50px;
  height: 25px;
  margin-left: 15px;
  margin-top: 3px;
}

.goal {
  margin-left: 10px;
}

.shelf-dropdown {
  margin: 0px auto;
}

h2 {
  text-align: center;
}

.divider {
  background-color: #e9ecef;
  height: 10px;
  width: 80%;
  margin: 0px auto 15px auto;
}

.user-goals {
  .progress-box {
    h3 {
      text-align: center;
    }
  }
}

.shelves-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.stats {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

.numsum {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.under {
  text-decoration: underline !important;
}

#notification-bell {
  color: $primary-color;
  height: 25px;
  margin-left: 15px;
  transition: transform 0.2s ease-in-out;
}

#notification-bell:hover {
  transform: rotate(-20deg);
  cursor: pointer;
}

.user-notif {
  display: flex;
}

.notification-center {
  display: flex;
  align-items: flex-start;
}

#has-notification {
  width: 8px;
}

.request-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 225px;
}

#request-text {
  color: white;
  font-size: 12px;
  margin-left: 3px;
}

#canceled {
  font-size: 12px;
  color: rgb(220, 53, 69);
}

.denied {
  display: none;
}
