@import "../../_variables.scss";
$barrier: 800px;
$middle-barrier: 1200px;

.shelf {
  width: 90%;
  height: 300px;
  a {
    color: $primary-color;
    font-weight: 600;
  }
  a:hover {
    color: $primary-color;
    font-weight: 600;
  }
  @media screen and (max-width: $barrier) {
    width: 95%;
  }
}

#add-link {
  color: $primary-color !important;
  text-decoration: underline !important;
}

.sample {
  width: 90%;
  max-height: 350px;
  overflow: none;
}

.sample-empty {
  width: 90%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.sample-header {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  line-height: 0.3;
  border-bottom: 1px solid grey;

  @media screen and (max-width: $barrier) {
    font-size: 18px;
  }
}

#shelf-header {
  font-size: 22px;
  line-height: 0.3;
  font-weight: 400;

  @media screen and (max-width: $barrier) {
    font-size: 18px;
  }
}

.see {
  font-size: 18px;

  @media screen and (max-width: $barrier) {
    font-size: 15px;
  }
}

.items {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.sample-items {
  height: 300px;
  justify-content: center;
  flex-wrap: none;
  overflow: none;
  display: flex;
  @media screen and (max-width: $barrier) {
    height: 275px;
  }
}

.overline {
  margin: 0px !important;
}

.TBRshelf {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 250px;

  @media screen and (max-width: $middle-barrier) {
    margin-top: 20px;
    width: 160px;
  }

  @media screen and (max-width: $barrier) {
    margin: 10px 10px;
    width: 110px;
    height: 200px;
  }
}

.CURRshelf {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 250px;

  @media screen and (max-width: $middle-barrier) {
    margin-top: 20px;
    width: 160px;
  }

  @media screen and (max-width: $barrier) {
    margin: 10px 10px;
    width: 110px;
    height: 200px;
  }
}

.ARLshelf {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    margin: 0px;
    text-align: center;
    font-size: 18px;
    width: 200px;
  }

  @media screen and (max-width: $middle-barrier) {
    margin-top: 20px;
    width: 160px;
  }

  @media screen and (max-width: $barrier) {
    margin: 20px 10px;
    width: 110px;
    height: 225px;
  }
}

.DNFshelf {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 250px;

  @media screen and (max-width: $middle-barrier) {
    margin-top: 20px;
    width: 160px;
  }

  @media screen and (max-width: $barrier) {
    margin: 10px 10px;
    width: 110px;
    height: 200px;
  }
}

.spin {
  margin-left: 50px;
  margin-bottom: 10px;
}

.checkbox-container {
  width: 250px;
  display: flex;
  justify-content: space-around;
}

.remove-button {
  margin-bottom: 10px;
}

#img-container {
  display: flex;
  flex-direction: row;
  flex-shrink: 2;
}

.image {
  max-width: 100%;
}

.shelf-title {
  width: 100%;
}

#remove {
  margin-top: 5px;
  @media screen and (max-width: $barrier) {
    margin-top: 10px;
  }
}

#spin {
  margin: auto;
}
