@import "../../_variables.scss";
$barrier: 800px;

.shelf {
  margin: 20px;
  width: 80%;
  height: 400px;
  p {
    text-align: center;
    color: $primary-color;
    font-weight: 600;
  }
  a {
    color: $primary-color;
    font-weight: 600;
  }
  a:hover {
    color: $primary-color;
    font-weight: 600;
  }
  @media screen and (max-width: $barrier) {
    width: 95%;
  }
}

.items {
  height: 350px;
  @media screen and (max-width: $barrier) {
    display: flex;
    overflow-x: scroll;
  }
  @media screen and (min-width: $barrier) {
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
  }
}

.shelfspinner {
  display: flex;
  width: 200px;
}

.TBRshelf {
  margin-bottom: 20px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    margin: 0px;
    text-align: center;
    font-size: 18px;
    width: 200px;
  }

  @media screen and (max-width: $barrier) {
    margin: 20px 10px;
  }
}

.CURRshelf {
  margin-bottom: 20px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    margin: 0px;
    text-align: center;
    font-size: 18px;
    width: 200px;
  }
}

.ARLshelf {
  margin-bottom: 20px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    margin: 0px;
    text-align: center;
    font-size: 18px;
    width: 200px;
  }
}

.DNFshelf {
  margin-bottom: 20px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    margin: 0px;
    text-align: center;
    font-size: 18px;
    width: 200px;
  }
}

.spin {
  margin-left: 50px;
  margin-bottom: 10px;
}

.checkbox-container {
  width: 250px;
  display: flex;
  justify-content: space-around;
}

.remove-button {
  margin-bottom: 10px;
}

.image {
  height: 200px;
}

.shelf-title {
  width: 100%;
}

#remove {
  margin-top: 5px;
  @media screen and (max-width: $barrier) {
    margin-top: 20px;
  }
}

#spin {
  margin: auto;
}
