@import "../../_variables.scss";

.shelf {
  width: 500px;
  height: 400px;
  p {
    text-align: center;
    color: $primary-color;
    font-weight: 600;
  }
  a {
    color: $primary-color;
    font-weight: 600;
  }
  a:hover {
    color: $primary-color;
    font-weight: 600;
  }
}

.items {
  height: 320px;
  overflow-y: scroll;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.shelfspinner {
  display: flex;
}

.TBRshelf {
  border: 2px solid #cad1d9;
  border-radius: 5%;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    margin: 0px;
    text-align: center;
    font-size: 18px;
    width: 200px;
  }
}

.CURRshelf {
  border: 2px solid #cad1d9;
  border-radius: 5%;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    margin: 0px;
    text-align: center;
    font-size: 18px;
    width: 200px;
  }
}

.ARLshelf {
  border: 2px solid #cad1d9;
  border-radius: 5%;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    margin: 0px;
    text-align: center;
    font-size: 18px;
    width: 200px;
  }
}

.DNFshelf {
  border: 2px solid #cad1d9;
  border-radius: 5%;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    margin: 0px;
    text-align: center;
    font-size: 18px;
    width: 200px;
  }
}

.spin {
  margin-left: 50px;
  margin-bottom: 10px;
}

.checkbox-container {
  width: 250px;
  display: flex;
  justify-content: space-around;
}

.remove-button {
  margin-bottom: 10px;
}

.image {
  height: 200px;
}

.shelf-title {
  width: 100%;
}
