@import "../../_variables.scss";

.users {
  margin-top: 20px;
  width: 100%;
}

.line {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 350px;
  // background-color: red;
  margin: 0px auto;
}

.username {
  font-size: 25px !important;
  color: $tertiary-color;
  text-decoration-color: $primary-color;
}
