@import "~bootstrap/scss/bootstrap";
@import "../../_variables.scss";

header {
  padding: 0;
  border: 0;
  margin: 0;
  margin-top: 0px;
  background-color: $primary-color;
}

#nav-link {
  color: $secondary-color;
  padding-bottom: 7px;
  margin-right: 8px;
  margin-left: 8px;
}

#dropdown-link {
  color: $primary-color;
}

#dropdown-link:active {
  background-color: #fff;
}
