@import "../../_variables.scss";
#betaalert {
  margin-bottom: 0px;
  color: $primary-color;
  text-align: center;
}

//sets color as white for header links
.nav-link {
  color: white !important;
}

//activeClassName, selected link is underlined
.selected-nav {
  text-decoration: underline;
  text-decoration-color: white;
}

//allows search box to be positioned to the right
#custom-nav {
  width: 100%;
}

//max width and spacing for search box
.header-search-box {
  max-width: 225px;
  margin-right: 8px;
}

//color for dropdown link
#dropdown-link {
  color: $primary-color;
}

//color for sign out dropdown
#sign-out {
  color: $font-color;
}

//link for alert
#alert-link {
  color: $font-color;
}
