@import "../../_variables.scss";

.spinner-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.leaderboard-page {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  margin: 20px 0px;
}

.tiny-head {
  text-align: center;
  margin: 0px;
}

.leaderboard-entry {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.entry-rank {
  width: 8%;
  min-width: 70px;
  text-align: center;
  font-weight: bold;
  border: 2px solid black;
  border-right: 1px solid black;
  border-color: $font-color;
}

.entry-name {
  width: 20%;
  min-width: 120px;
  text-align: center;
  font-weight: bold;
  border: 2px solid black;
  border-right: 1px solid black;
  border-color: $font-color;
}

.entry-part {
  width: 25%;
  min-width: 120px;
  text-align: center;
  font-weight: bold;
  border: 2px solid black;
  border-right: 1px solid black;
  border-color: $font-color;
}

.entry-meat {
  width: 25%;
  min-width: 160px;
  text-align: center;
  font-weight: bold;
  border: 2px solid black;
  border-color: $font-color;
}

.real-entry-rank {
  width: 8%;
  min-width: 70px;
  text-align: center;
  border: 2px solid black;
  border-right: 1px solid black;
  border-top: none;
  border-color: $font-color;
}

.real-entry-name {
  width: 20%;
  min-width: 120px;
  text-align: center;
  border: 2px solid black;
  border-right: 1px solid black;
  border-top: none;
  border-color: $font-color;
}

.real-entry-part {
  width: 25%;
  min-width: 120px;
  text-align: center;
  border: 2px solid black;
  border-right: 1px solid black;
  border-top: none;
  border-color: $font-color;
}

.real-entry-meat {
  width: 25%;
  min-width: 160px;
  text-align: center;
  border: 2px solid black;
  border-top: none;
  border-color: $font-color;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin-top: 20px;
    margin-bottom: 0px;
    color: $font-color;
  }
  h6 {
    margin-bottom: 15px;
    color: $font-color;
    font-weight: 600;
  }
}

#leaderboard-link {
  color: $primary-color;
  font-weight: 800;
}

.leaderboard {
  min-height: 400px;
}
