@import "../_variables.scss";

.sample-book-img {
  height: 150px;
}

#sample-card-title {
  font-size: 15px;
  line-height: 0.6;
}

#sample-author {
  font-size: 13px;
  line-height: 0.7;
}

#sample-date {
  font-size: 13px;
  line-height: 0.7;
  margin-bottom: 10px;
}

.sample {
  display: flex;
  align-items: center;
  max-width: 290px;
  text-align: center;
  padding: 10px 6px 10px 14px;
  margin: 10px;
  border: 2px solid red;
  border-color: $primary-color;
  border-radius: 2%;
}

.sample img {
  margin-right: 5px;
}

#sample-right-side {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sample-desc {
  display: flex;
  flex-direction: column;
}

.sample-action-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  justify-content: space-around;
}

.sample-checklist-container {
  height: 20px;
  width: 25%;
}

.sample-TBR {
  color: white;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 5%;
  cursor: pointer;
  background-color: #fcf6f5ff;
}

.sample-CURR {
  color: white;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 5%;
  cursor: pointer;
  background-color: #fcf6f5ff;
}

.sample-ARL {
  color: white;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 5%;
  cursor: pointer;
  background-color: #fcf6f5ff;
}

.sample-DNF {
  color: white;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 5%;
  cursor: pointer;
  background-color: #fcf6f5ff;
}

.sample-description-container {
  width: 25%;
}

.sample-add-description {
  color: $primary-color;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 11px;
}

.sample-external-container {
  padding-top: 0px;
  width: 30%;
  height: 50px;
}

.sample-wikipedia-png {
  margin-left: 5px;
  width: 30px;
  height: 30px;
}

.sample-amazon-png {
  margin-top: 6px;
  margin-left: 2px;
}

.sample-bookshop-png {
  margin-top: 10px;
  margin-left: 12px;
  width: 38px;
  height: 38px;
}

.sample-TBR-count {
  margin-bottom: 5px;
  font-size: 10px;
  font-weight: bold;
  color: $primary-color;
}

.sample-CURR-count {
  font-size: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  color: $primary-color;
}

.sample-ARL-count {
  font-size: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  color: $primary-color;
}

.sample-DNF-count {
  font-size: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  color: $primary-color;
}
