@import "../../_variables.scss";
$barrier: 800px;

#card-title {
  line-height: 0.8;
  @media screen and (max-width: $barrier) {
    font-size: 20px;
  }
  @media screen and (min-width: $barrier) {
    font-size: 22px;
  }
}

#author {
  font-size: calc(max(1vw, 20px));
  line-height: 0.9;
  @media screen and (max-width: $barrier) {
    font-size: 20px;
  }
  @media screen and (min-width: $barrier) {
    font-size: 22px;
  }
}

#date {
  line-height: 0.9;
  @media screen and (max-width: $barrier) {
    font-size: 16px;
    margin-bottom: 4px;
  }
  @media screen and (min-width: $barrier) {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.bookcard {
  display: flex;
  align-items: center;
  text-align: center;
  border: 2px solid black;
  border-color: $font-color;
  border-radius: 2%;
  @media screen and (max-width: $barrier) {
    width: 340px;
    padding: 15px 5px 8px 22px;
    margin: 20px;
  }
  @media screen and (min-width: $barrier) {
    width: 400px;
    padding: 20px 10px 20px 30px;
    margin: 20px;
  }
}

.innards {
  display: flex;
}

.bookcard img {
  margin-right: 10px;
}

#cover {
  @media screen and (max-width: $barrier) {
    margin-top: 5px;
    width: 100px;
  }
  @media screen and (min-width: $barrier) {
    margin-top: 10px;
  }
}

#right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desc {
  display: flex;
  flex-direction: column;
}

.action-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @media screen and (max-width: $barrier) {
    margin-top: 0px;
  }
  @media screen and (min-width: $barrier) {
    margin-top: 5px;
  }
}

.counts-and-checks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.checklist-container {
  height: 40px;
  width: 25%;
}

.TBR {
  width: 35px;
  height: 35px;
  border: 2px solid black;
  border-radius: 5%;
  cursor: pointer;
}

.CURR {
  width: 35px;
  height: 35px;
  border: 2px solid black;
  border-radius: 5%;
  cursor: pointer;
}

.ARL {
  width: 35px;
  height: 35px;
  border: 2px solid black;
  border-radius: 5%;
  cursor: pointer;
}

.DNF {
  width: 35px;
  height: 35px;
  border: 2px solid black;
  border-radius: 5%;
  cursor: pointer;
}

.description-container {
  width: 25%;
}

.loading-spinner-container {
  width: 100%;
  height: 82px;
}

#loading-spinner {
  margin-top: 25px;
}

.add-description {
  margin-bottom: 0px;
  font-weight: bold;

  @media screen and (max-width: $barrier) {
    font-size: 14px;
  }
  @media screen and (min-width: $barrier) {
    font-size: 15px;
  }
}

.external-container {
  width: 30%;
  height: 60px;
  @media screen and (min-width: $barrier) {
    padding-top: 8px;
  }
}

.wikipedia-png {
  margin-left: 5px;
  width: 55px;
  height: 55px;
}

.amazon-png {
  margin-top: 6px;
  margin-left: 2px;
  width: 40px;
  height: 47px;
}

.bookshop-png {
  margin-top: 10px;
  margin-left: 8px;
  width: 36px;
  height: 36px;
}

.TBR-count {
  line-height: 1;
  margin-bottom: 5px;
  font-weight: bold;
}

.CURR-count {
  line-height: 1;
  margin-bottom: 5px;
  font-weight: bold;
}

.ARL-count {
  line-height: 1;
  margin-bottom: 5px;
  font-weight: bold;
}

.DNF-count {
  line-height: 1;
  margin-bottom: 5px;
  font-weight: bold;
}

#arl-entry {
  display: flex;
  flex-direction: column;
}

#year {
  margin-left: 30px;
  width: 100px;
  @media screen and (max-width: $barrier) {
    margin-left: 20px;
    width: 85px;
  }
}

#recommend {
  margin-left: 30px;
  width: 120px;
  @media screen and (max-width: $barrier) {
    margin-left: 20px;
    width: 100px;
  }
}

.submitting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#format {
  display: flex;
  width: 225px;
  justify-content: space-around;
}

#modal-title {
  color: $primary-color;
}
