@import "../../_variables.scss";
$barrier: 800px;

.search {
  width: 100%;
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.booklist {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

form {
  display: flex;
}

#input {
  height: 55px;
  font-size: 18px;
  margin-right: 30px;
  @media screen and (max-width: $barrier) {
    width: 100%;
  }
  @media screen and (min-width: $barrier) {
    width: 300px;
  }
}

#button {
  color: white !important;
  padding: 0px 20px;
  font-size: 20px;
}

#aggregation {
  display: flex;
  flex-direction: column;
}

.await {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#agg {
  color: $primary-color;
  margin-bottom: 60px;
}

.search-total {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.alt-container {
  width: 385px;

  p {
    font-size: 17px;
    text-decoration: underline;
  }

  @media screen and (max-width: $barrier) {
    width: 320px;
  }
}

.pagination-box {
  display: flex;
  width: 100%;
  margin: 40px 0px 100px 0px;
  justify-content: center;
}

.pagination {
  display: flex;
  border-radius: 2%;
}
